@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 65.2%;
    font-family: 'Playfair Display', serif;
    --black: rgba(11, 10, 10, 0.807);
    --white: rgb(206, 197, 197);
    --red: rgba(234, 48, 48, 0.818);
}

nav, header, main, footer, section {
    display: block;
}

.bgimg {
    height: 100%;
    width: 100%;
    background-image: url("bgimg.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: auto;
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

button {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem;
    border: none;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: var(--black);
    color: var(--red);
}